body{
    height: 100vh;
    width: 100vw;
    background-image: url("https://t4.ftcdn.net/jpg/02/01/40/17/360_F_201401710_2odV15q0f1CU3GVSIebYEaMmqrR6RcVJ.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    overflow: hidden;
}
.btn{
    margin: 10px;
}
.digit{
    font-size: 50px;
}
.text{
    margin-top: 50px;
    font-size: 24px;

}